.place__paragraph {
    margin-top: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.63;
    margin-bottom: 26px;
    color: #FFFFFF;
}

.place__paragraph:nth-child(2) {
    margin-bottom: 0;
    align-self: stretch;
}

.place__paragraph-last-element {
    margin-bottom: 0;
}

@media (min-width: 690px) and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
        margin-bottom: 25px;
    }

    .place__paragraph:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 690px) {
    .place__paragraph {
        max-width: calc(100% - 32px);
        margin-left: 16px;
        margin-right: 16px;
    }

    .place__paragraph:last-child {
        margin-bottom: 0;
    }
}