.lead__image {
    width: 100%;
    height: 615px;
    margin-bottom: 8px;
    background-image: url('../../../images/lead-polka.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid red;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .lead__image {
        width: 100%;
        height: 580px;
        margin-top: 56px;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .lead__image {
        height: 480px;
    }
}

@media (max-width: 425px) {
    .lead__image {
        width: 100%;
        height: 200px;
    }
}