.cover__overlay {
    text-decoration: none;
    background-color: rgba(42, 44, 47, 0.3);
    min-height: 740px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: background-color 0.5s; 
}

.cover__overlay:hover {
    background-color: rgba(42, 44, 47, 0.8);
    
}

@media (min-width: 768px) and (max-width: 1024px) {
    .cover__overlay {
        min-height: 640px;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .cover__overlay {
        min-height: 480px;
    }
}

@media (max-width: 425px) {
    .cover__overlay {
        min-height: 200px;
    }
}