@import url(../vendor/normalize.css);

.page {
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
    background-color: #2A2C2F;
    max-width: 1280px;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;  
}

.header {
    height: 52px;
    display: flex;
    margin-top: 28px;
    padding: 0 48px;
    justify-content: space-between;
}

.header__logo {
    width: 176px;
    height: 52px;
}

.header__lang-links {
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 24px;
    padding: 0;
}

.header__lang-link {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.75rem;
    text-align: right;
    color: #FFFFFF;
    display: inline-block;
    text-decoration: none;
}

.header__lang-link:first-child {
    text-decoration-line: underline;
    margin-right: 18px;
}

.lead {
    max-width: 984px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.lead__title {
    margin: 0;
    margin-top: 56px;
    text-align: center;
    font-style: normal;
    font-size: 6rem;
    line-height: 6.25rem;
    color: #FFFFFF;
    font-weight: 900;
}

.lead__subtitle {
    margin: 0;
    font-size: 1.875rem;
    line-height: 2rem;
    text-align: center;
    color: #FFFFFF;
    margin-top: 32px;
    font-weight: 400
}

.lead__image {
    margin-top: 64px;
    width: 984px;
    height: 615px;
    margin-bottom: 8px;
    background-image: url('../images/lead-polka.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.lead__caption {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 0.875rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.intro {
    max-width: 984px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.intro__title {
    margin: 0;
    margin-top: 92px;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 900;
    font-size: 3.375rem;
    line-height: 3.625rem;
    color: #FFFFFF;
    max-width: 690px;
}

.intro__text {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 163%;
    color: #FFFFFF;
    max-width: 690px;
    margin: 0;
}

.intro_lists {
    padding-left: 0;
    margin-top: 33px;
    margin-bottom: 0;
}

.intro__list {
    margin: 0;
    list-style-type: none;
    font-style: normal;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.5;
    color: #FFFFFF;
}

.intro__list-num {
    font-weight: 400;
}
.photo-grid {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(4, 1fr);
    margin: 92px auto;
    justify-content: center;
    max-width: calc(100% - 48px - (16px *3));
}

.grid__item {
    width: 284px;
    height: 213px;
}

.places_place {
    max-width: 984px;
    margin: 0 auto;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 460px 484px;
    grid-template-rows: fit-content(152px) 460px;
    column-gap: 40px;
    row-gap: 48px;
}

.places_place:last-child {
    margin-bottom: 0;
}

.place__title {
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 4.75rem;
    color: #FFFFFF;
}

.place__images {
    background-size: 100% 100%;
    background-repeat: no-repeat;   
    width: 460px;
    height: 460px;
}

.place__image {
    width: 100%;
    height: 100%;
}

.place__website {
    max-width: 456px;
    position: relative;
}

.place__url-heading {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1;
    position: absolute;
    bottom: 34px;
    left: 0;
    letter-spacing: 2px;
    color: #AAAAAA;
}

.place__link {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.375rem;
    position: absolute;
    bottom: 0;
    left: 0;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.place__link:hover {
    opacity: 0.8;
}

.place__paragraph {
    margin-top: 0;
    max-width: 484px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 163%;
    margin-bottom: 26px;
    color: #FFFFFF;
}

.place__paragraph:nth-child(2) {
    margin-bottom: 0;
}

.place__paragraph-last-element {
    margin-bottom: 0;
}

.cover {
    background-image: url('../images/cover-trains.jpg');
    margin: 92px auto;
    max-width: 1184px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    height: 740px;
}

.cover__overlay {
    display: block;
    padding: 245px 312px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.3);
}

.cover__overlay:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.cover__title {
    margin: 0 0 32px;
    font-style: normal;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 4.75rem;
    text-align: center;
    color: #FFFFFF;
}

.cover__subtitle {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.375rem;
    text-align: center;
    color: #FFFFFF;
}

.footer {
    margin: 0 48px 24px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.footer__link {
    margin-right: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.125rem;
    text-decoration: none;
    color: #FFFFFF;
}

.footer__link:hover {
    opacity: 0.8;
}

.footer__copyright {
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.125rem;
    color: #FFFFFF;
}


@media screen and (max-width: 1279px) {
    .cover__overlay {
        padding: 195px 232px;
    }

    .cover {
        max-width: 1024px;
        height: 640px;
    }

    .page {
        max-width: 1279px
    }

    .photo-grid {
        grid-gap: 14px;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 300px 300px 300px;
        margin: 92px 48px;
        justify-content: center;
    }
    
    .grid__item {
        width: 300px;
        height: 225px;
    }

    .places_place {
        column-gap: 32px;
        grid-template-columns: 440px 456px;
        max-width: 928px;
        grid-template-rows: fit-content(152px) 440px;
    }

    .place__images { 
        width: 440px;
        height: 440px;
    }

    .lead__image {
        width: 928px;
        height: 580px;
        margin-top: 56px;
    }

    .lead__title {
        margin-top: 48px;
    }

    .lead {
        max-width: 928px;
        margin-left: auto;
        margin-right: auto;
    }

    .intro {
        max-width: 928px;
    }
}

/*********************Свойства для другого размера*****************************/
@media screen and (max-width: 1023px) {
    .page {
        max-width: 768px
    }

    .header {
        padding: 0 24px;
    }

    .lead__image {
        width: 768px;
        height: 480px;
    }

    .lead__caption {
        margin-left: 24px;
    }

    .intro {
        max-width: 720px;
    }

    .intro__title {
        margin-top: 88px;
    }

    .photo-grid {
        grid-gap: 16px;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 352px 352px;
        margin: 88px 24px;
    }
    
    .grid__item {
        width: 352px;
        height: 264px;
    }

    .places_place {
        max-width: 720px;
        margin: 0 auto;
        margin-bottom: 73px;
        grid-template-columns: 340px 352px;
        grid-template-rows: fit-content(152px) fit-content(440px);
        column-gap: 28px;
    }

    .place__images { 
        width: 340px;
        height: 340px;
    }

    .place__title {
    font-weight: 900;
    font-size: 42px;
    line-height: 46px;
    }

    .place__url-heading {
        line-height: 12px;
    }

    .place__paragraph{
        font-size: 16px;
        margin-bottom: 25px;
    }

    .cover__overlay {
        padding: 115px 104px;
    }

    .cover {
        width: 768px;
        height: 480px;
        margin-top: 90px;
        margin-bottom: 88px;
    }

    .footer {
        margin: 0 24px 24px;
    }    
}


/*********************Свойства для другого размера*****************************/
@media screen and (min-width: 425px) and (max-width: 767px) {
    
}


/*********************Свойства для другого размера*****************************/
@media screen and (max-width: 424px ){
    
}

@media screen and (max-width: 767px) {
    .places_place {
        width: calc(100% - 48px);
    }

    .photo-grid {
        width: calc(100% - 48px);
    }

    .grid__item {
        width: 50%;
        height: 50%;
    }

}

@media screen and (max-width: 424px) {
    .header__logo {
        width: 142px;
        height: 42px;
    }

    .header{
        padding: 0 16px;
        margin-top: 16px;
    }

    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }

    .lead__title {
        font-size: 40px;
        line-height: 44px;
    }

    .lead__subtitle {
        margin-top: 16px;
        font-size: 16px;
        line-height: 20px;
    }

    .lead__image {
        width: 320px;
        height: 200px;
        margin-top: 40px;
    }

    .lead__caption {
        margin-left: 16px;
    }

    .intro__title {
        margin-top: 64px;
        font-size: 32px;
        line-height: 35px;
    }

    .intro {
        max-width: 288px;
    }

    .photo-grid {

        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 288px;
        margin: 64px auto;
        row-gap: 12px;
    }

    .grid__item {
        width: 288px;
        height: 216px;
    }

    .places_place {
        max-width: 984px;
        margin: 50px auto;
        grid-template-columns: 320px;
        grid-template-rows: fit-content(32px) fit-content(46px) fit-content(320px) fit-content(468px);
        row-gap: 48px;
    }

    .cover {
        margin-top: 66px;
        margin-bottom: 64px;
        width: 320px;
        height: 200px;
    }

    .cover__overlay {
        padding: 33px 16px;
    }

    .cover__title {
        font-size: 32px;
        line-height: 35px;
        margin: 0 0 16px;
    }

    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
    }

    .footer {
        flex-direction: column;
        margin: 0 16px 24px;
    }

    .footer__link {
        font-size: 24px;
        line-height: 24px;
        margin-top: 32px;
    }

    .footer__copyright {
        line-height: 14px;
        position: static;
        margin-top: 48px;
    }

    .place__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 288px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 32px;
    }

    .place__website {
        max-width: 288px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .place__images {
        width: 320px;
        height: 320px;
    }

    .place__paragraph {
        max-width: 288px;
        margin-right: 16px;
        margin-left: 16px;
    }

    .places_place {
        max-width: 100%;
    }
}
