.place__website {
    max-width: 100%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

@media (max-width: 690px) {
    .place__website {
        max-width: calc(100% - 32px);
        margin-left: 16px;
        margin-right: 16px;
    }
}